{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}


<div class="">
    <h1>Page d'acceuil! ✅</h1>

    <h2>Super blog en symfony</h2>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est ad, id facilis laboriosam nam nihil. Tenetur obcaecati itaque dolor ducimus mollitia incidunt. Fugiat odit voluptas iure adipisci, modi suscipit. Cumque!</p>



   
</div>
{% endblock %}
